<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lamaatech.com.musicalapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayListActivity.PlayListActivity"
            android:label="@string/title_activity_now_playing"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SongDetailsActivity.SongDetailsActivity"
            android:label="@string/title_activity_song_details"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".PaymentActivity.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>